@{
    var Customer = MetaData.baseCustomer().Single(x => x.CustomerId == MetaData.baseCustomerId());
}

<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
</div>

<!-- Start Card Style -->
<div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <!-- Start Dashboard Top  -->
                <div class="rbt-dashboard-content-wrapper">
                    <div style="height:175px; background-color:transparent"></div>
                    <!-- Start Tutor Information  -->
                    <div class="rbt-tutor-information">
                        <div class="rbt-tutor-information-left">
                            <div class="thumbnail rbt-avatars size-lg">
                                <img src="~/assets/images/customer/@Customer.Image" />
                            </div>
                            <div class="tutor-content">
                                <h5 class="title">@Customer.NameSurname</h5>
                                <div class="rbt-review">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count"> (@Customer.Review.Count() Yorum)</span>
                                </div>
                            </div>
                        </div>
                        <div class="rbt-tutor-information-right">
                            <div class="tutor-btn">
                                <a class="rbt-btn btn-md hover-icon-reverse" asp-action="Index" asp-controller="LoginUi">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Oturumu Sonlandır</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Tutor Information  -->
                </div>
                <!-- End Dashboard Top  -->


                <div class="row g-5">
                    <div class="col-lg-3">
                        <!-- Start Dashboard Sidebar  -->
                        <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                            <div class="inner">
                                <div class="content-item-content">
                                    <div class="rbt-default-sidebar-wrapper">
                                        <div class="section-title mb--20">
                                            <h6 class="rbt-title-style-2">Hoşgeldiniz, @Customer.NameSurname</h6>
                                        </div>
                                        <nav class="mainmenu-nav">
                                            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                <li><a id="Profile" href="#"><i class="feather-user"></i><span>Profil</span></a></li>
                                                <li><a id="MyLessons" href="#"><i class="feather-book-open"></i><span>Derslerim</span></a></li>
                                                <li><a id="MyPackages" href="#"><i class="feather-package"></i><span>Paketlerim</span></a></li>
                                                <li><a id="MyPracticeLessons" href="#"><i class="feather-book"></i><span>Pratik Derslerim</span></a></li>
                                                <li><a id="MyReviews" href="#"><i class="feather-star"></i><span>İncelemelerim</span></a></li>
                                                <li><a id="MyOrderHistory" href="#"><i class="feather-shopping-bag"></i><span>Sipariş Geçmişi</span></a></li>
                                            </ul>
                                        </nav>
                                        <div class="section-title mt--40 mb--20">
                                            <h6 class="rbt-title-style-2">Kullanıcı</h6>
                                        </div>
                                        <nav class="mainmenu-nav">
                                            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                <li><a id="Settings" href="#"><i class="feather-settings"></i><span>Ayarlar</span></a></li>
                                                <li><a asp-action="MyAdvisors" asp-controller="AdvisorUi"><i class="feather-info"></i><span>Danışmanlık Ve Hizmetlerim</span></a></li>
                                                <li><a asp-controller="LoginUi" asp-action="Index"><i class="feather-log-out"></i><span>Çıkış Yap</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Dashboard Sidebar  -->
                    </div>

                    <div class="col-lg-9">
                        <!-- Start Instructor Profile  -->
                        <div id="partials" class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                            





                        </div>
                        <!-- End Instructor Profile  -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Card Style -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $("#Profile").click(function (e) {
            e.preventDefault();
            loadPartial("CustomerUi/Profile");
        });

        $("#MyLessons").click(function (e) {
            e.preventDefault();
            loadPartial("CustomerUi/MyLessons");
        });

        $("#MyReviews").click(function (e) {
            e.preventDefault();
            loadPartial("CustomerUi/MyReviews");
        });

        $("#MyOrderHistory").click(function (e) {
            e.preventDefault();
            loadPartial("CustomerUi/MyOrderHistory");
        });

        $("#Settings").click(function (e) {
            e.preventDefault();
            loadPartial("CustomerUi/Settings");
        }); 

        $("#MyPackages").click(function (e) {
            e.preventDefault();
            loadPartial("CustomerUi/MyPackages");
        });

        $("#MyPracticeLessons").click(function (e) {
            e.preventDefault();
            loadPartial("CustomerUi/MyPracticeLessons");
        });

        function loadPartial(url) {
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    $("#partials").html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#Profile').trigger('click');
    });
</script>