@model PracticeLessonGallery

<form id="myForm3" method="post" enctype="multipart/form-data">
    <input type="hidden" name="PracticeLessonId" value="@ViewBag.Id" />

    <div class="fv-row fv-plugins-icon-container row">
        <label class="required form-label">Resim</label>
        <div class="col-sm-10">
            <input type="file" name="file" class="form-control" />
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>

        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
</form>

