@{
    int CookieCustomerId = MetaData.baseCustomerId();
    int total = ViewBag.total;
}

<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Alışveriş Sepeti</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Sepet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

@if (CookieCustomerId != 0)
{
<div class="rbt-cart-area bg-color-white rbt-section-gap">
    <div class="cart_area">
        <div class="container">
            <div class="row">
                <div class="col-12">



                    <div id="partialform">
                         
                    </div>

                  

                </div>
            </div>
            <div id="iyzipay-checkout-form" class="popup"></div>
        </div>
    </div>
</div>
}

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        loadPartialForm();

        $(document).on('click', '#partialform .removeCart', function (e) {
            e.preventDefault();
            debugger;
            var lessonId = $(this).data('lesson-id');

            $.ajax({
                url: '/Basket/Delete',
                type: 'POST',
                data: { lessonId: lessonId },
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Ürün Sepetten Kaldırıldı',
                        showConfirmButton: false,
                        timer: 1500
                    });
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        showConfirmButton: false,
                        timer: 1500
                    });
                },
                complete: function () {
                    loadPartialForm();
                }
            });
        });

        function loadPartialForm() {
            $.ajax({
                url: '/Basket/Table',
                type: 'GET',
                success: function (response) {
                    $('#partialform').html(response);
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        }

        $(document).on('click', '#Checked', function () {
            Swal.fire({
                title: 'Ödeme İçin Bekleniyor...',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                },
                showConfirmButton: false
            });

            var total = @total;

            $.ajax({
                url: '/Basket/Pay',
                type: 'POST',
                data: { total: total },
                success: function (response) {
                    console.log(response);
                    var form = response.checkoutFormContent;
                    $("#iyzipay-checkout-form").empty().html(form);

                    Swal.close();
                },
                error: function (xhr, status, error) {
                    Swal.close();

                    Swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        });
    });




</script>