
<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Alışveriş Sepeti</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Sepet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-cart-area bg-color-white rbt-section-gap">
    <div class="cart_area">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="cart-summary">
                        <div class="cart-summary-wrap">
                            <div class="section-title text-start">
                                <h4 class="title mb--30">Ödeme Tamamlandı</h4>
                            </div>
                        </div>

                        <div class="cart-submit-btn-group">
                            <div class="single-button w-100">
                                <button asp-action="Index" asp-controller="CustomerUi" class="rbt-btn btn-gradient rbt-switch-btn rbt-switch-y w-100">
                                    <span data-text="Kurslarım">Kurslarım</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>