
<div id="kt_app_toolbar_container" class="app-container d-flex flex-stack" style="width:100%;">
	<!--begin::Page title-->
	<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
		<!--begin::Title-->
		<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Test</h1>
		<!--end::Title-->
	</div>
	<!--end::Page title-->
	<!--begin::Actions-->
	<div class="d-flex align-items-center gap-2 gap-lg-3">
		<!--begin::Filter menu-->
		<div class="m-0">
			<!--begin::Menu toggle-->
			<a href="#" class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-color-primary fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
				<i class="ki-duotone ki-filter fs-6 text-muted me-1">
					<span class="path1"></span>
					<span class="path2"></span>
				</i>Filtreler
			</a>
			<!--end::Menu toggle-->
			<!--begin::Menu 1-->
			<div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true" id="kt_menu_641d51014a902">
				<!--begin::Header-->
				<div class="px-7 py-5">
					<div class="fs-5 text-dark fw-bold">Filtreleme Seçenekleri</div>
				</div>
				<!--end::Header-->
				<!--begin::Menu separator-->
				<div class="separator border-gray-200"></div>
				<!--end::Menu separator-->
				<!--begin::Form-->
				<div class="px-7 py-5">
					<!--begin::Input group-->
					<div class="mb-10">
						<!--begin::Label-->
						<label class="form-label fw-semibold">Durum:</label>
						<!--end::Label-->
						<!--begin::Input-->
						<div>
							<select class="form-select form-select-solid PagerFilter" name="Durum" data-kt-select2="true" data-placeholder="Durum Seçin" data-dropdown-parent="#kt_menu_641d51014a902" data-allow-clear="true">
								<option value="">Durum</option>
								<option value="true">Aktif</option>
								<option value="false">Pasif</option>
							</select>
						</div>
						<!--end::Input-->
					</div>
					<!--end::Input group-->
				</div>
				<!--end::Form-->
			</div>
			<!--end::Menu 1-->
		</div>
		<!--end::Filter menu-->
		<!--begin::Secondary button-->
		<!--end::Secondary button-->

	</div>
	<!--end::Actions-->
</div>