 <!--begin::Search-->
<div class="d-flex align-items-center position-relative my-1">
    <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4"><span class="path1"></span><span class="path2"></span></i>
    <input type="text" id="PagerSearchText" data-kt-ecommerce-product-filter="search" class="form-control form-control-solid w-250px ps-12" placeholder="ARA..." />

    @*<select class="form-select form-select-solid select2 PagerFilter mx-2" name="Durum">
        <option value="">Durum</option>
        <option value="true">Aktif</option>
        <option value="false">Pasif</option>
    </select>*@
  
    <div>
        <select class="form-select form-select-solid PagerFilter mx-2" name="Durum" data-kt-select2="true" data-placeholder="Durum Seçin" data-allow-clear="true">
            <option value="">Durum</option>
            <option value="true">Aktif</option>
            <option value="false">Pasif</option>
        </select>
    </div>
    
    <script>
        
    </script>

</div>
<!--end::Search-->
