@model Lesson


<form id="myForm" method="post" enctype="multipart/form-data">
    <input type="hidden" name="LessonId" value="@Model.LessonId" />


    <div class="card card-flush py-4">
        <div class="card-body pt-0">
            <div class="fv-row fv-plugins-icon-container row">
                <label class="required form-label">Resim</label>
                <div class="col-sm-10">
                    <input type="file" name="file" class="form-control" style="float:left" />
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>
                <div class="col-sm-1">
                    <img src="/assets/Images/Lesson/@Model.Image" alt="Kayıtlı Resim Yok" style="height:50px;">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary mr-2" style="float:right">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (e) {
            e.preventDefault();

            var formData = new FormData(this);
            var LessonId = $('[name="LessonId"]').val();

            formData.append('LessonId', LessonId);

            // Dosya elemanını doğru şekilde seçin
            var fileInput = $('[name="file"]');
            if (fileInput.length > 0 && fileInput[0].files.length > 0) {
                var file = fileInput[0].files[0];
                formData.append('file', file);
            }

            $.ajax({
                url: '/Lesson/Upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Başarılı',
                        showConfirmButton: false,
                        timer: 1500
                    })
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            });
        });
    });
</script>
