@model Course
@{
    Layout = null;
}
@if (Model != null)
{
    @foreach (var item in MetaData.baseReview().Where(x => x.Lesson.CourseId == Model.CourseId))
    {
        <div class="rbt-course-review about-author">
            <div class="media">
                <div class="thumbnail">
                    <a href="#">
                        <img src="~/assets/images/customer/@item.Customer.Image" />
                    </a>
                </div>
                <div class="media-body">
                    <div class="author-info">
                        <h5 class="title">
                            <a class="hover-flip-item-wrapper" href="#">
                                @item.Customer.NameSurname :
                            </a>
                            <label> @item.Lesson.Name</label>
                        </h5>
                        <div class="rating">

                            @for (int i = 0; i < item.StarRate; i++)
                            {
                                <a href="#"><i class="fa fa-star"></i></a>
                            }

                        </div>
                    </div>
                    <div class="content">
                        <p class="description">
                            @item.Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
}