@model List<CustomerAdvisorRelation>
@{
    ViewData["Title"] = "Danışmanlık";
}


<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container  d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">@Model.FirstOrDefault()?.Advisor.Name Sohbetler</h1>
                    <!--end::Title-->

                </div>
                <!--end::Page title-->

            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->

        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container">
                <!--begin::Products-->
                <div class="card card-flush">
                    <!--begin::Card body-->


                    <!--begin::Table-->
                    <div class="table-responsive">
                        @if (Model.Count() > 0)
                        {
                            <table class="table table-bordered mb-200">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th> Müşteri Adı</th>

                                        <th scope="col" style="width:75px;">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td style="width:75px;">@item.CustomerAdvisorRelationId</td>
                                            <td>@item.Customer.NameSurname</td>

                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-primary" asp-action="Chat" asp-controller="Advisor" asp-route-id="@item.CustomerAdvisorRelationId">
                                                        Mesajlar
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        @if (Model.Count() == 0)
                        {
                            <div class="alert alert-warning">
                                kayıt bulunamadı
                            </div>
                        }
                    </div>
                    <!--end::Table-->



                    <!--end::Card body-->
                </div>
                <!--end::Products-->
            </div>
            <!--end::Content container-->
        </div>
    </div>
    <!--end::Content wrapper-->

</div>
