@model Course

<form id="LecturerForm">
    <input type="hidden" name="tempId" value="@(Model?.CourseId)" />
    <div class="fv-row fv-plugins-icon-container">
        <label class="required form-label">Eğitmenler</label>
        <div class="">
            <select class="form-control selectpicker manytomany" relationName="LecturerCourseRelation" propertyName="LecturerId" multiple>
                
                @foreach (var item in MetaData.baseLecturer())
                {
                    var fromDb = Model?.LecturerCourseRelation?.ToList().Select(i => i.LecturerId);
                    <!option value="@(item?.LecturerId)">@item?.Name</!option>
                }
            </select>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.selectpicker').select2();
    });
</script>