@model Course

<form id="SkillsForm">
    <input type="hidden" name="tempId" value="@(Model?.CourseId)" />
    <div class="fv-row fv-plugins-icon-container">
        <label class="required form-label">Beceriler</label>
        <div class="">
            <select class="form-control selectpicker manytomany" relationName="SkillCourseRelation" propertyName="SkillId" multiple>
                
                @foreach (var item in MetaData.baseSkill())
                {
                    var fromDb = Model?.SkillCourseRelation?.ToList().Select(i => i.SkillId);
                    <!option value="@(item?.SkillId)">@item?.Name</!option>
                }
            </select>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.selectpicker').select2();
    });
</script>