<div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Giriş</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a>Anasayfa</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Giriş</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rbt-elements-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class=" gy-5 row--30">

            <div >
                <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                    <h3 class="title">Üye Girişi</h3>
                    <form asp-controller="LoginUi" asp-action="Entering" class="max-width-auto">
                        <div class="form-group">
                            <input name="Email" type="email">
                            <label>Email *</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input name="Password" type="text">
                            <label>Parola *</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="row mb--30">
                            <div class="col-lg-6">
                                <div class="rbt-checkbox">
                                    <input type="checkbox" id="rememberme" name="rememberme">
                                    <label for="rememberme">Beni Hatırla</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="rbt-lost-password text-end">
                                    <a class="rbt-btn-link">Şifrenizi mi unuttunuz?</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-submit-group">
                            <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Giriş</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>