@model LecturerCourseRelation;

<form id="LecturerCourseRelationForm">
    <input type="hidden" name="tempId" value="@(Model?.LecturerCourseRelationId)" />
    <input type="hidden" name="CourseId" value="@(Model?.CourseId)" />

    <div class="card card-flush py-4">
        <div class="card-body pt-0">

            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Eğitmen</label>
                <div class="col-md-10">
                    <select class="form-control selectpicker" name="LecturerId">
                        <option value="">İlişkilendirilecek Eğitmen Seçiniz</option>
                        @foreach (var item in MetaData.baseLecturer())
                        {
                            var slc = item.LecturerId == Model?.LecturerId ? "selected" : "";
                            <!option @slc value="@item.LecturerId">@item.Name</!option>
                        }
                    </select>
                </div>
            </div>

        </div>
    </div>
</form>

